<!-- <div class="row">
  <div class="col-md-8 mx-auto">
    <ul class="list-group">
      <li class="list-group-item">PRODUCTOS FACTURAS</li>
      <li class="list-group-item list-group-item-warning" *ngFor="let pf of productosFacturas">{{"Id: "+pf.id+","+"Factura_id: "+pf.factura_id+","+"Producto_id: "+pf.producto_id+","+"Cantidad: "+pf.cantidad+","+"Creado_por: "+pf.creado_por+","+"Subtotal: "+pf.subtotal}}</li>
    </ul>
  </div>
</div> -->

<!--
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Factura_id</th>
      <th scope="col">Producto_id</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Creado_por</th>
      <th scope="col">Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pf of productosFacturas">
      <th scope="row"><a [routerLink]="['/productos-facturas', pf.id]">{{pf.id}}</a></th>
      <td>{{pf.factura_id}}</td>
      <td>{{pf.producto_id}}</td>
      <td>{{pf.cantidad}}</td>
      <td>{{pf.creado_por}}</td>
      <td>{{pf.subtotal}}</td>
    </tr>
  </tbody>
</table>
-->


<table mat-table [dataSource]="productosFacturas" class="mat-elevation-z8">

  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let pf">{{pf.id}}</td>
  </ng-container>

  <ng-container matColumnDef="Factura_id">
    <th mat-header-cell *matHeaderCellDef> Factura_id </th>
    <td mat-cell *matCellDef="let pf">{{pf.factura_id}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Producto_id">
    <th mat-header-cell *matHeaderCellDef> Producto_id </th>
    <td mat-cell *matCellDef="let pf">{{pf.producto_id}}</td>
  </ng-container>
  
  <!-- Weight Column -->
  <ng-container matColumnDef="Cantidad">
    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
    <td mat-cell *matCellDef="let pf">{{pf.cantidad}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Creado_por">
    <th mat-header-cell *matHeaderCellDef> Creado_por </th>
    <td mat-cell *matCellDef="let pf">{{pf.creado_por}}</td>
  </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="Subtotal">
      <th mat-header-cell *matHeaderCellDef> Subtotal </th>
      <td mat-cell *matCellDef="let pf">{{pf.subtotal}}</td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>


</table>
<br>
<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>